---
import MainHeader from "./MainHeader.astro";
export interface Props {
  title: string;
  subtitle: string;
  meta1: string;
  meta2: string;
}
const { title, subtitle, meta1, meta2 = "" } = Astro.props as Props;
---

<MainHeader title={title}>
  <div class="page">
    <header>
      <h1>{title}</h1>
      {!!subtitle && <h2>{subtitle}</h2>}
      {
        !!meta1 && (
          <>
            <h4 class="meta-1">{meta1}</h4>
            <h4 class="meta-2">{meta2}</h4>
          </>
        )
      }
    </header>
    <article>
      <slot />
    </article>
  </div>
</MainHeader>
<style>
  .page {
    margin: 0 var(--spacing-level-3);
  }
  h1 {
    color: var(--colour-violet);
  }
  h2 {
    color: var(--colour-dark);
  }
  header {
    margin: auto;
    max-width: var(--width-section);
  }
  .meta-2 {
    text-align: right;
    margin-bottom: 0;
    font-size: var(--size-smaller);
  }
  header h1 {
    margin-bottom: 0;
  }
  header h2 {
    margin-top: 0.25em;
  }
  .meta-1 {
    color: var(--colour-crimson);
  }
  aside:not(:last-child) {
    background-color: red;
  }
</style>
